@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'Spoqa Han Sans', sans-serif; }

.hidden {
  display: none; }

.disabled {
  color: #808080;
  background-color: #ebebe4; }
  .disabled input[type="text"] {
    color: #808080; }

.btn {
  padding: 0 15px;
  border-style: none;
  color: white;
  background-color: #3D575E; }
  .btn:hover {
    background-color: #30454b;
    transition: 0.15s; }
  .btn:disabled {
    background-color: #b6cbd0; }
  .btn .btn-square {
    border-radius: 0; }

#channel-list-wrapper {
  position: relative;
  float: left;
  padding: 15px 25px;
  height: 100%;
  width: 18%;
  background-color: #1f2c30;
  box-sizing: border-box; }
  #channel-list-wrapper .title {
    padding-bottom: 10px;
    color: #81e5e1;
    font-size: 1em;
    font-weight: bold; }
  #channel-list-wrapper #channel-list {
    list-style: none;
    padding-left: 0; }
    #channel-list-wrapper #channel-list .channel {
      padding: 2px 0;
      font-size: .95em;
      color: #ccc;
      cursor: pointer; }
    #channel-list-wrapper #channel-list .channel.current {
      font-weight: bold;
      color: #fff; }
  #channel-list-wrapper #login {
    position: absolute;
    bottom: 20px; }
    #channel-list-wrapper #login i {
      margin-right: 3px;
      color: white; }
    #channel-list-wrapper #login .login-btn {
      padding: 11px 0;
      margin-bottom: 5px;
      width: 100%; }

#chatting-wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 67%;
  border-right: 1px solid lightgrey;
  box-sizing: border-box;
  vertical-align: top; }
  #chatting-wrapper #channel-title {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold; }
  #chatting-wrapper #message-list-container {
    width: 100%;
    height: 100%; }
  #chatting-wrapper .message {
    position: relative;
    padding-bottom: 5px; }
    #chatting-wrapper .message:hover .message-action {
      display: block; }
    #chatting-wrapper .message .message-time {
      display: inline-block;
      font-size: 0.8em; }
    #chatting-wrapper .message .message-list {
      position: absolute;
      width: 100%;
      height: 100%; }
    #chatting-wrapper .message .message-nick {
      display: inline-block;
      margin-right: 15px;
      width: 120px;
      font-weight: bold;
      text-align: right; }
    #chatting-wrapper .message .message-text {
      display: inline-block;
      width: calc(100% - 225px);
      word-wrap: break-word;
      vertical-align: top; }
    #chatting-wrapper .message .message-action {
      display: none;
      position: absolute;
      top: 0;
      right: 0; }
      #chatting-wrapper .message .message-action i {
        cursor: pointer; }

#upper-container {
  float: left;
  padding: 10px 10px 40px 10px;
  width: 100%;
  height: calc(100% - 85px);
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box; }

#lower-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc; }

#message-inputbox {
  width: 100%;
  height: 100%; }

#message-inputbox-nick {
  float: left;
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  background-color: white;
  font-weight: bold; }

#message-inputbox-input-wrapper {
  height: 100%;
  overflow: hidden; }

#message-inputbox-input {
  width: 100%;
  height: 100%;
  padding-right: 1em;
  border: none;
  outline: none;
  font-size: 1.1em;
  overflow: hidden;
  resize: none;
  box-sizing: border-box; }
  #message-inputbox-input:not([data-editing-hash='']) {
    color: #8b0000; }

#message-inputbox-btn {
  float: right;
  height: 100%; }

#user-list-wrapper {
  float: right;
  width: 15%;
  padding: 19px;
  box-sizing: border-box; }
  #user-list-wrapper .title {
    padding-bottom: 10px;
    font-size: .9em; }
  #user-list-wrapper #user-list {
    list-style: none;
    padding-left: 0; }
    #user-list-wrapper #user-list .user {
      padding: 3px 0;
      font-size: .8em;
      cursor: pointer; }

/*# sourceMappingURL=cello.css.map */
