<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css" integrity="sha256-TCuJgVndgFOi9ydfKaFuqZ3Eum1a3L5dFn9cOSsW6As=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cello.css') }}">
</head>
<body>
    <div id="wrapper">
        {% block body %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>