{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
    <div id="channel-list-wrapper">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div class="title">CHANNELS</div>
        <ul id="channel-list">
        </ul>
    </div>

    <div id="chatting-wrapper">
        <div id="channel-title"></div>

        <div id="upper-container">
            <div id="message-list">
                <div class="message">
                    <div class="message-nick"></div>
                    <div class="message-text"></div>
                </div>
            </div>
        </div>
        <div id="lower-container">
            <div id="message-inputbox" class="disabled">
                <div id="message-inputbox-nick"></div>
                <button type="button" class="btn btn-square" id="message-inputbox-btn" data-type="last" disabled>Send</button>
                <div id="message-inputbox-input-wrapper">
                    <input type="text" id="message-inputbox-input" disabled>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js" integrity="sha256-WKvqiY0jZHWQZIohYEmr9KUC5rEaYEOFTq+ByllJK8w=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cello.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cello.command.js') }}"></script>
{% endblock %}